<!DOCTYPE html>
<title>Using the yt-download api</title>
<body>
<p27 style="font-size: larger;background-color: rgb(246, 255, 0);">//Made with ❤️ by @ElectronPro</p27>



<p1 style="background-color: aqua;font-size: 120%; ;">
    <br><br>This is an youtube downloader api that extracts video links for youtube videos 
    
    <br><br>To use this api you need to paste the youtube video link after the data parameter
    
    <br><br>ex:- yt-downloader.com/data?link=https://www.youtube.com/watch?v=mISvJhV8w-w 
    
    <br><br>and it will return the response in JSON format </p1>
    <p127 style="background-color: yellow; font-size: larger;"><br><br> Your welcome :) </p127>





</body>
</html>